.body {
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}

.list {
    background-color: #444;
    font-size: 24px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.item {
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    padding: 20px;
    display: inline-block;
}

.link {
    text-decoration: none;
    color: #ffffff;
}