@import url(https://use.fontawesome.com/releases/v6.4.2/css/all.css);


li {
    display: inline-block;
    list-style: none;
    margin: 2px;
}

a {
    float: left;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: gray;
    cursor: pointer;
}

i {
    position: relative;
    top: 10px;
    left: 12px;
}

.fa-facebook:hover {
    color: blue;
    transition: 0.3s ease-in;
}

.fa-google-plus:hover {
    color: orangered;
    transition: 0.3s ease-in;
}

.fa-instagram:hover{
    color: lightblue;
    transition: 0.3s ease-in;
}

.fa-twitter:hover {
    color: dodgerblue;
    transition: 0.3s ease-in;
}

.fa-linkedin:hover {
    color: lightblue;
    transition: 0.3s ease-in;
}