body {
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
}

article {
    width: 800px;
    box-sizing: border-box;
    margin: 10px 10px 0 10px;
    padding: 10px;
    display: inline-block;
}

section {
    width: 800px;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
}

section img {
    width: 700px;
    height: 550px;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
}

p {
    margin: 10px;
    padding: 10px;
}

footer {
    margin: 10px;
    padding: 10px;
}

aside {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    float: right;
}