body {
    background-color: #e4e998;
    width: 700px;
}

h2, h3 {
    font-style: italic;
    margin: 5px;
}

p {
    font-style: italic;
    padding: 15px;
}

.comment-section {
    color: #4c7658;
    margin: 5px;
    background-color: #f2f4c0;
    border: 1px solid #b2ad7d;
    padding: 10px;

}

.base-article {
    background-color: #f2f4c0;
    font-style: normal;
    margin: 5px;
    border: 1px solid #b2ad7d;
    padding: 10px;

}
