* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: Verdana, serif;
}

body {
    margin: 4em;
}

div {
    display: flex;
    max-width: 65vw;
}

section {
    display: flex;
    flex-wrap: wrap;
}

span {
    border: 1px solid black;
    text-align: center;
    flex-grow: 1;
    padding: 2em;
}

section.notes {
    flex-direction: column;
}

section.week span:nth-child(1),
section.week span:nth-child(7) {
    flex-basis: 100%;
    padding-bottom: 5em;
}

section.notes span {
    padding-bottom: 12em;
}